*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #192233;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.ratufa-popup-title{
    display: none !important;
}
.ratufa-overlay {
    z-index: 999999;
    display: flex;
}
.ratufa-popup-container{
    margin: auto !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root{
    --swiper-theme-color: #585bff;
}
::selection{
    background: #4b4dde;
    color: white;
}
body{
    background-color: #ffffff;
}
::-webkit-scrollbar-track{
    background-color: #22324C;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: #4B4DDE;
}
.menu img{
    width: 50px;
    cursor: pointer;
}

/* navbar section  */
.logo{
    z-index: 111111;
}
.logo img{
    width: 200px;
    position: relative;
    z-index: 111;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x:hidden;

}
.container::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 50%;
    top: -370px;
    border-radius: 50%;
    background-color: #f4f5ff;
    /* background: linear-gradient(223.46deg, #5c4fdd 29.72%,#0abffc 86.57%); */
}
nav{
    padding: 2%;
    height: 100%;
    z-index: 11111;
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    width: 40px;
    display: none;
    z-index: 11111;
    position: relative;
}
#menulist{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #192233;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: 1s;
    z-index: 111;
}
.menu ul {
    height: 100%;
    max-height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu ul li{
    height: 100%;
    font-size: 20px;
    
}

.m-icon i{
    font-size: 38px;
    padding: 0 10px;
}
.m-icon i::after{
    display: none;
}

/* button animation  */


strong{
    color: white;
}

#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 200px;
    border-radius: 9px;
    background: #4B4DDE;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #4B4DDE;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #4B4DDE;
   }


/* main landing page  */

.row-1{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}
.col-1{
    flex-basis: 50%;
}
.col-1:nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
}
.col-1 img{
    width: 100%;
}
.col-1 h1{
    font-size: 57px;
    padding-bottom: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 72px;
}
.col-1 p{
    font-size: 14px;
    padding-bottom: 30px;
    max-width: 600px;
}
.col-1 hr{
    border: 1px solid #ffffff96;
    margin: 20px auto;
    width: 85%;
}

.col-1 button:hover{
    transform: translateY(-10px);
}

/* benefit section  */

.title h1{
    position: relative;
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
}
.title p{
    text-align: center;
    margin: auto;
    font-size: 17px;
    max-width: 700px;
    padding-bottom: 30px;
}
.benifit{
    padding: 50px 8%;
    height: 100%;
    z-index: -1;
}
.row-2 {
    overflow: hidden;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.col-2 img{
    width: 180px;
    z-index: 111;
}
.col-2{
    position: relative;
    border-radius: 30px;
    justify-content: center;
    margin: auto;
    padding: 20px;
    background-color: #f4f5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.col-2 h2{
    font-size: 30px;
    padding: 20px 0;
    color: #192233;
}
.col-2 p{
    color: #192233;
    font-size: 17px;
    padding: 20px 0;
}

/* section services  */

/* wave background style  */

.wrap {
    top: 50px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .shape {
    width: 120px;
    height: 120px;
    background: linear-gradient(64.00916346799386deg,#6100ff 23.44140625%,rgb(97 0 255) 79.84765625%);
    animation: wave 4.0s ease-in-out infinite;
  }
  @keyframes wave {
    0%, 100% {
      border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
    50% {
      
      border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
  }



/* custom section  */

.custom{
    padding: 30px 8%;
    height: 100%;
}
.row-3{
    overflow: hidden;
    display: flex;
}
.col-3 img{
    width: 100%;
    margin: auto 0;
}
.col-3{
    flex-basis: 50%;
}
.col-3:nth-child(2){
    padding-left: 5%;
    margin: auto;
}
.col-3 h3{
    font-size: 50px;
    padding-bottom: 10px;
}
.col-3 p{
    font-size: 17px;
    padding: 30px 0;
    max-width: 550px;
    letter-spacing: 1px;
    line-height: 30px;
    
}

.intigration{
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 30px  0;
}
.intigration p{
    padding-right: 20px;
    font-size: 20px;
    font-weight: 300;
}
.intigration button{
    padding: 10px;
    width: 150px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}
.intigration button a{
    color: white;
}

/* pricing style  */

.row-4{
    padding: 80px 10%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    overflow: hidden;
    background-color: #e0e3fd;


}
.col-4{
    background-color: #ffffff;
    text-align: center;
    padding: 50px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.col-4 h1{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.col-4 h2{
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0;
    color: #192233;
}
.col-4 ul li{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    padding:5px  0;
}
.col-4 button{
    cursor: pointer;
    padding: 15px 10px;
    width: 80%;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}
.col-4 button a{
    text-decoration: none;
    color: #fff;
}

.col-4  h1, h2, .col-4 ul li{
    color: #192233;
}
.main h1, .main h2, .main ul li{
    color: #fff !important;

}
.main{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
}
.button{
    background: #ffff !important;    
}
.button a{
    color: #6525DC !important;

}
.col-4:hover{
    transform: translateY(-20px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.387);
}

/* Q&A style ? */

  
#faq {
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
  }
  
  section.faq {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  #faq ul {
    text-align: left;
  }
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
  }
  
  #faq .no-select, #faq h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }
  
  #faq h1 {
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  #faq h2 {
    color: #4B4DDE;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 400;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
  }
  
  #faq p {
    color: #333;
    text-align: left;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    max-height: 1050px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    z-index: 2;
  }
  
  #faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #faq ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 2px;
    /*padding-bottom: 4px;*/
    /*padding-top: 18px;*/
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
  }
  #faq ul li + li {
    margin-top: 15px;
  }
  #faq ul li:last-of-type {
    padding-bottom: 0;
  }
  #faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
  }
  #faq ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #4B4DDE;
    width: 3px;
    height: 9px;
  }
  #faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  #faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }
  #faq ul li input[type=checkbox]:checked ~ h2 {
    color: #000;
  }
  #faq ul li input[type=checkbox]:checked ~ p {
    /*margin-top: 0;*/
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);*/
  }
  #faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
   
    

/* contact us style  */
.mail{
    padding: 40px 13%;

}
.row-5{
    display: flex;
    width: 100%;
    height: 100%;

}
.col-5{
    flex-basis: 50%;
    padding: 0 10px;
}
input, textarea, select{
    outline: none;
    width: 100%;
    resize: none;
    padding: 20px;
    background: transparent;
    border: 2px solid #192233;
    border-radius: 5px;
    z-index: -1;
    margin-top: 20px;
    top: 1px;
    font-size: 15px;
}
option{
    color: #000;
}
label{
    position: absolute;
    top: 35px;
    left: 20px;
    opacity: 0.5;
    transition: 0.5s;
    padding: 5px;
    z-index: -1;
    pointer-events: none    ;


}
textarea{
    height: 175px;
}
.input{
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}
input:valid+label,
input:focus+label{
    background-color: #ffffff;
    top: 1px;
    opacity: 1;
    z-index: 9999;
    color:  #4B4DDE;


}
textarea:valid+label,
textarea:focus+label{
    background-color: #ffffff;
    top: 1px;
    opacity: 1;
    z-index: 111;
    color:  #4B4DDE;



}

.mail button {
    margin: 10px;
    padding: 12px;
    width: 150px;
    color: #6525DC;
    font-size: 15px;
    background: #f4f5ff;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}
.mail button:hover{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    color: #ffff;
}

/* port style  */
.lap{
    max-width: 78%;
    position: absolute;
    left: -17%;
    bottom: 0;
    z-index: 1;
}
.res{
    width: 24%;
    position: absolute;
    bottom: -14px;
    right: -24px;
    z-index: 1;

}
.row-6{
    overflow: hidden;
    display: flex;
    padding: 50px 10%;
}
.col-6:nth-child(1){
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 30px;
}
.col-6 img{
    width: 100%;
}
.col-6{
    display: flex;
    align-items: center;
    position: relative;
    flex-basis: 50%;
    width: 100%;
}
.scroll{
    width: 76%;
    overflow-y: scroll;
    max-height: 54%;
}
.scroll img{
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
.scroll {
    position: absolute;
    top: 13%;
    left: 10.5%;
}
.col-6 h1{
    padding-bottom: 45px;
}
.col-6 p{
    width: 80%;
    padding-bottom: 50px;
}
hr{
    width: 95%;
    margin: auto;
    background: #1922334d;
    height: 1px;
    margin-bottom: 30px;
  }

  /* swiper ---------------- */

  .swiper {
    padding-bottom: 20px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px !important ;
    
  }
  
  .swiper-pagination-bullet-active{
    z-index: 111 !important;
  } 

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 39.7% !important;
    height: 100%;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -7px !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-3d .swiper-slide-shadow-left{
    background-image: linear-gradient(to right,rgb(0 0 0 / 0%),rgba(0,0,0,0));
  }
  .swiper-3d .swiper-slide-shadow-right{
    background-image: linear-gradient(to right,rgb(0 0 0 / 0%),rgba(0,0,0,0));
  }
  .swiper-slide-active{
    filter: blur(0px);
  }
  

/* footer style  */

footer{
    position: relative;
    z-index: 9999;
}

.row-l{
    border-radius: 10em 0 0 0;
    display: flex;
    background-color: #f4f5ff;
    padding: 90px 5%;
    justify-content: space-between;
}
.col-l{
    flex-basis: 20%;
}
.col-l img{
    width: 70%;
}
.col-l:nth-child(1) p{
    font-size: 15px;
}
.col-l:nth-child(2){
    padding-left: 0%;
}
.col-l h1{
    font-size: 25px;
    padding-bottom: 10px;
}
.col-l  li{
    text-transform: capitalize;
    font-size: 15px;
    padding: 5px 0;
    transition: 0.5s;
}
.links  li:hover {
    transform: translateX(10px);
}
.links  li:hover a {
    color: #8544ff;
}
.col-l h1{
    position: relative;
    margin-bottom: 30px;
}
.col-l h1::after{
    content: "";
    bottom: 0;
    left: 0px;
    position: absolute;
    height: 5px;
    width: 110px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);

}
.col-l:nth-child(3) p{
    padding: 10px 0;
}
.col-l:nth-child(3) span{
    font-weight: 500;
}  

/* footer icon  */

.icons{
    margin-top: 10px;
}

.icons ul li i:after{
    display: none;
}
.icons ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .icons ul li {
    list-style: none;
  }
  
  .icons ul li a {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .icons ul li a .icon {
    color: #262626;
    transition: .5s;
    position: relative;
    z-index: 4;

  }
  
  .icons ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);

  }
  
  .icons ul li a:before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .icons ul li a:hover:before {
    top: 0;
  }
  
  .icons ul li:nth-child(1) a:before{
    background: #23d200;
  }
  
  .icons ul li:nth-child(2) a:before{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
  
  .icons ul li:nth-child(3) a:before {
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
  }
  
  .icons ul li:nth-child(4) a:before {
    background: #0088ff;
  }

/* cursor movement style  */


  .cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #4B4DDE;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99999;
  }
  
  .cursor2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 99999;

  }
  
  .hover {
    background-color: #4B4DDE;
    border:2px solid #ffff;
    opacity: 0.8;
  }
  
  .cursorinnerhover {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

/* particals animation  */

.p-1{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 111111;
    animation: p-1 20s infinite 0s ;   
}
@keyframes p-1{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px);
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-2{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 80%;
    z-index: 111111;
    animation: p-2 20s infinite 0s ;   
}
@keyframes p-2{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(500px);   
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 2 */

.p-3{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 111111;
    animation: p-3 20s infinite 0s ;   
}
@keyframes p-3{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(500px);
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-4{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 80%;
    z-index: 111111;
    animation: p-4 20s infinite 0s ;   
}
@keyframes p-4{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px);   
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 3 */

.p-5{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 111111;
    animation: p-5 20s infinite 0s ;   
}
@keyframes p-5{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-6{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 80%;
    z-index: 111111;
    animation: p-6 20s infinite 0s ;   
}
@keyframes p-6{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(300px);   
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 4 */

.p-7{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 111111;
    animation: p-7 20s infinite 0s ;   
}
@keyframes p-7{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-8{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 80%;
    z-index: 111111;
    animation: p-8 20s infinite 0s ;   
}
@keyframes p-8{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(500px);   
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 5 */

.p-9{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 111111;
    animation: p-9 20s infinite 0s ;   
}
@keyframes p-9{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-10{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 80%;
    z-index: 111111;
    animation: p-10 20s infinite 0s ;   
}
@keyframes p-10{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(300px);   
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 6 */

.p-11{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 111111;
    animation: p-11 20s infinite 0s ;   
}
@keyframes p-11{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(500px);
    }
    75%{
        transform: translateY(300px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-12{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 111111;
    animation: p-12 20s infinite 0s ;   
}
@keyframes p-12{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(800px);
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* responsive layout  */
@media (max-width: 768px){
    .col-1:nth-child(1){
        margin-top: 20% !important ;
    }
}
@media (max-width: 1107px) {

    
    .menu ul{
        width:100%;
        background: #192233;
        right:0;
        z-index:2;
        text-align: center;
    }
    #menulist{
        transition: 0.3s;
    }
    .menu ul{
        margin: auto;
        
        font-size: 20px;

    }
    .menu ul li{
        text-align: center;
    }
    .menu ul li a{
        color: white;

    }
    #menulist{
        overflow:hidden;
        transition:1s;
    }
    .svgburg{
        top: 8px !important;
        right: 13px !important;
    }
    .menu-icon{
        margin-top: -20px;
        margin-right: -15px;
        width: 40px;
        display: flex;
        top: 37px;
        position: absolute;
        right: 47px;

    }
    .logo img{
        width: 180px;
    }
    nav{
        padding: 20px 5%;
    }

    /* container  */
    .col-1:nth-child(1){
        margin-top: 40%;
    }
    .row-1{
        flex-direction: column;
    }
    .col-1 h1{
        font-size: 40px;
        line-height: 50px;
    }
    .col-1 p{
        font-size: 15px;
    }
    .col-1 button{
        font-size: 15px;
        width: 150px;
        padding: 10px;
    }

    /* why us style  */
    .benifit{
        padding: 50px 3%;
    }
    .title h1{
        font-size: 10vw;
    }
    .title p{
        font-size: 15px;
    }
    .benifit .row-2{
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* custom style  */

    .row-3{
        flex-direction: column;
    }
    .col-3 h3{
        text-align: center;
        font-size: 10vw;
    }
    .col-3 p{
        font-size: 17px;
        text-align: center;
    }
    .intigration{
        flex-direction: column;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .intigration p{
        padding-bottom: 30px;
    }
    .col-3:nth-child(2) {
        padding-left: 0;
    }

    /* pricing style  */

    .row-4{
        padding: 20px 3%;
    }

    /* profolio style  */

    .row-6{
        flex-direction: column;
        padding: 50px 3%;
    }
    .col-6:nth-child(1){
        padding: 40px 0 0 0;
    }
    .row-6 p{
        width: 100%;
    }
    .lap{
        max-width: 78%;
        position: absolute;
        left: -15%;
        bottom: -3%;
        z-index: 1;
    }
    
    /* FAQ section style  */

    #faq h2{
        padding-right: 30px;
        font-size: 15px;
        line-height: 28px;
    }

    /* mail section  */
    .ratufa-popup-container {
        width: 90% !important;
    }
    .mail{
        padding: 40px 3%;
    
    }
    .row-5{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    
    }

    /* footer  */
    .row-l{
        display: flex;
        flex-direction: column;
        padding: 100px 5%;
        text-align: center;
        justify-content: space-between;
    }
    .col-l h1::after{
        content: "";
        bottom: 0;
        left: 18%;
        transform: translateX(-50%);
        position: absolute;
        height: 5px;
        width: 110px;
        background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);

    }
    .col-l:nth-child(3) {
        padding-top: 50px;
    }
    .col-l:nth-child(2) {
        padding-top: 50px;
    }
    .col-l:nth-child(2){
        padding-left: 0%;
    }
    .col-l:nth-child(3) p{
        padding: 10px 0;
    }
    .col-l{
        text-align: left;
    }
    
    /* icon style  */

    .icons ul{
        align-items: center;
        justify-content: center;
    }
    .icons ul li a {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
      }

/* cursor style  */
    .cursor,.cursor2{
        display: none;
    }    
    /* wave  */

    .col-1 a{
        width: 155px;
    }
    span{
        font-size: 13px;
        letter-spacing: 1px;
    }


    /* new menu  */
    .Responsive{
        position: fixed;
        transition: 1s;
        top: 78px;
        align-items: center;
        left: 0;
        padding-left: 0px !important;
        height: 100vh;
        background: white;
        margin: auto;
        transform: translateY(-100%);
        width: 100%;
    }
    ol{
        

    display: grid;
    width: 90%;
    margin: auto;

    }
    .sub-menu{
        position: static !important;
        background-color: #00000000 !important;
        z-index: 111111;
        flex-direction: column;
        box-shadow: 0 3px 12px rgb(255 255 255 / 0%) !important;
    }
    .menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu{
        max-height: 100% !important;
        margin-top: 20px;
    }
    .sub-menu-item{
        width: 100%;
    }
    .menu-item:nth-child(n + 3):nth-child(-n + 4) .sub-menu-item{
        margin: 0 !important;
        padding: 5px;
    }
    .search button{
        display: none;
    }
    .logo {
        left: 0rem !important;
    }

}
 
/* loader style  */


#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 11111111;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-left: -80px;
    margin-top: -50px;
    border-radius: 5px;
    background: #1e3f57;
    animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
  }
  
  .loader:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background: #3c517d;
    animation-name: dot2_;
  }
  
  .loader:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background: #4b4dde;
    animation-name: dot3_;
  }
  
  @keyframes dot1_ {
    3%,97% {
      width: 160px;
      height: 100px;
      margin-top: -50px;
      margin-left: -80px;
    }
  
    30%,36% {
      width: 80px;
      height: 120px;
      margin-top: -60px;
      margin-left: -40px;
    }
  
    63%,69% {
      width: 40px;
      height: 80px;
      margin-top: -40px;
      margin-left: -20px;
    }
  }
  
  @keyframes dot2_ {
    3%,97% {
      height: 90px;
      width: 150px;
      margin-left: -75px;
      margin-top: -45px;
    }
  
    30%,36% {
      width: 70px;
      height: 96px;
      margin-left: -35px;
      margin-top: -48px;
    }
  
    63%,69% {
      width: 32px;
      height: 60px;
      margin-left: -16px;
      margin-top: -30px;
    }
  }
  
  @keyframes dot3_ {
    3%,97% {
      height: 20px;
      width: 40px;
      margin-left: -20px;
      margin-top: 50px;
    }
  
    30%,36% {
      width: 8px;
      height: 8px;
      margin-left: -5px;
      margin-top: 49px;
      border-radius: 8px;
    }
  
    63%,69% {
      width: 16px;
      height: 4px;
      margin-left: -8px;
      margin-top: -37px;
      border-radius: 10px;
    }
  }








.sub-1{
    width: 250px;
}

.menu-item  a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #000000;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}
.sub-menu-item  a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #192233;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}
.fa-solid{
    color: #000 ;
}
.menu {
  background: #ffffff;
  margin: auto;
  position: fixed;    
  box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
  width: 100%;
  text-align: center;
  padding: 8px 2rem;
  height: 79px;
  font-family: 'Titillium Web', sans-serif;
}
.Responsive {
  padding-left: 0px;
  margin: auto;
  
}
.logo {
	float: left;
	position: absolute;
	top: 10px;
	left: 1rem;
	width: 60px;
	height: 50px;
}
.search button{
    width: 150px;
    padding: 12px;
    background: #6200ff;
    color: white;
}
.search {
	float: right;
	position: absolute;
	top: 17px;
	right: 10rem;
	stroke: #ffffff;
	width: 20px;
	height: 20px;
}
.menu-item {
  list-style-type: none;
  display: inline;
  position: relative;
  margin: 15px;
  font-family: 'Titillium Web', sans-serif;
}

.menu-item:before {
  position: absolute;
  content: "";
  border-bottom: 3px solid #8100f9;
  overflow: hidden;
  width: 0%;
  left: 50%;
  top: 30px;
  transition: 0.2s ease-in-out 0.15s;
}

.menu-item:hover:before {
  width: 100%;
  left: 0%;
  transition: 0.2s ease-in-out;
}

.sub-menu {
  position: absolute;
  left: 0%;
  background: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  top: 53px;
  padding: 0;
  text-align: left;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
  max-height: 0;
  opacity: 0;
  transition: 0.45s ease all 0.1s;
  z-index: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.1s;
  visibility: hidden;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu {
  max-height: 500px;
  opacity: 1;
    -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.15s;
  visibility: visible;
}
.sub-menu .menu-item {
  display: block;
  font-family: 'Titillium Web', sans-serif;
}

.menu-item:nth-child(n + 3):nth-child(-n + 4) .plus-icon {
  width: 15px;
  height: 15px;
  stroke: #ffffff;
  margin-left: 2px;
  margin-bottom: -5px;
}

.menu-item:nth-child(n + 3):nth-child(-n + 4) .sub-menu-item {
  list-style-type: none;
  display: block;
  margin: 15px;
  position: relative;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.1s;
  visibility: hidden;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu {
  max-height: 400px;
  opacity: 1;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item a {
  transition: 0.15s ease all;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item a:hover {
  color: #4b4dde
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.15s;
  visibility: visible;
}











