*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    overflow-x:hidden;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #22324C;
}
::-webkit-scrollbar-track{
    background-color: #22324C;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #4B4DDE;
}
.menu img{
    width: 50px;
    cursor: pointer;
}

/* navbar section  */

.logo img{
    width: 200px;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.container::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 50%;
    top: -370px;
    border-radius: 50%;
    background: linear-gradient(223.46deg, #6525DC 29.72%, #4B4DDE 86.57%);
}
nav{
    padding: 2%;
    z-index: 11111;
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    width: 40px;
    display: none;
}
.menu ul{
    display: flex;
    margin: auto;
    overflow: hidden;
    padding: 30px;
    max-height: 100px;
}
.menu ul li{
    margin:auto 20px;
    font-size: 20px;
}

/* main landing page  */

.row-1{
    display: flex;
    margin-top: 5%;
    height: 100%;
}
.col-1{
    flex-basis: 50%;
}
.col-1:nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}
.col-1 img{
    width: 100%;
}
.col-1 h1{
    font-size: 70px;
    line-height: 90px;
    padding-bottom: 10px;
}
.col-1 p{
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 600px;
}
.col-1 button{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 6px;
    width: 200px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

/* benefit section  */

.title h1{
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
}
.title p{
    text-align: center;
    margin: auto;
    font-size: 17px;
    max-width: 700px;
    padding-bottom: 30px;
}
.benifit{
    padding: 80px 8%;
    height: 100%;
}
.row-2 {
    overflow: hidden;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.col-2 img{
    width: 100px;
}
.col-2{
    justify-content: center;
    margin: auto;
    padding: 20px;
    background-color: #192233;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
}
.col-2 h2{
    font-size: 30px;
    padding: 20px 0;
}
.col-2 p{
    font-size: 17px;
    padding: 20px 0;
}

/* custom section  */

.custom{
    padding: 30px 8%;
    height: 100%;
}
.row-3{
    overflow: hidden;
    display: flex;
}
.col-3 img{
    width: 100%;
    margin: auto 0;
}
.col-3{
    flex-basis: 50%;
}
.col-3:nth-child(2){
    padding-left: 5%;
}
.col-3 h3{
    font-size: 50px;
    padding-bottom: 10px;
}
.col-3 p{
    font-size: 17px;
    padding: 30px 0;
    max-width: 550px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: auto;
}

.intigration{
    display: flex;
    margin: auto;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding: 30px ;
}
.intigration p{
    font-size: 20px;
    font-weight: 300;
}
.intigration button{
    padding: 10px;
    width: 150px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}

/* pricing style  */

.row-4{
    padding: 80px 15%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    overflow: hidden;

}
.col-4{
    background-color: #192233;
    text-align: center;
    padding: 50px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.col-4 h1{
    font-size: 30px;
    font-weight: 600;
}
.col-4 h2{
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0;
}
.col-4 ul li{
    font-size: 15px;
    font-weight: 300;
    padding:5px  0;
}
.col-4 button{
    cursor: pointer;
    padding: 15px 10px;
    width: 80%;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}
.col-4 button a{
    text-decoration: none;
}
.main{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
}
.button{
    background: #ffff !important;    
}
.button a{
    color: #6525DC;

}
.col-4:hover{
    transform: translateY(-20px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.387);
}
/* gallery desing  */
.gallery{
    padding: 50px 5%;
}
.portfolio img{
    width: 100%;
    height: 100%;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
}
.portfolio img:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
}
.portfolio img:nth-child(2){
    grid-column: span 1;
}
.portfolio img:nth-child(3){
    grid-column: span 1;
}
.portfolio img:nth-child(4){
    grid-row: span 1;
}
/* contact us style  */
.mail{
    padding: 40px 13%;

}
.row-5{
    display: flex;
    width: 100%;
    height: 100%;

}
.col-5{
    flex-basis: 50%;
    padding: 0 10px;
}
input, textarea{
    outline: none;
    width: 100%;
    resize: none;
    padding: 20px;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 5px;
    z-index: -1;
    margin-top: 20px;
    top: 1px;
    font-size: 15px;
}
label{
    position: absolute;
    top: 35px;
    left: 20px;
    opacity: 0.5;
    transition: 0.5s;
    padding: 5px;
    z-index: -1;
    pointer-events: none    ;


}
textarea{
    height: 175px;
}
.input{
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
}
input:valid+label,
input:focus+label{
    background-color: #22324C;
    top: 1px;
    opacity: 1;
    z-index: 9999;
    color:  #2587ff;


}
textarea:valid+label,
textarea:focus+label{
    background-color: #22324C;
    top: 1px;
    opacity: 1;
    z-index: 111;
    color:  #2587ff;


}

.mail button {
    margin: 10px;
    padding: 12px;
    width: 150px;
    color: #6525DC;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}
.mail button:hover{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    color: #ffff;
}

/* port style  */

.row-6{
    overflow: hidden;
    display: flex;
    padding: 50px 10%;
}
.col-6:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.col-6 img{
    width: 100%;
}
.col-6{
    position: relative;
    flex-basis: 50%;
    width: 100%;
}
.scroll{
    width: 100%;
    overflow-y: scroll;
    max-height: 43%;
}
.scroll img{
    width: 99.2%;
    overflow-y: scroll;
    height: 100%;
}
.scroll {
    position: absolute;
    top: 21%;
    left: 1%;
}
.col-6 h1{
    padding-bottom: 10px;
}

/* footer style  */

.row-l{
    display: flex;
    background-color: #192233;
    padding: 100px 5%;
    justify-content: space-between;
}
.col-l{
    flex-basis: 30%;
}
.col-l img{
    width: 70%;
}
.col-l:nth-child(1) p{
    font-size: 15px;
}
.col-l:nth-child(2){
    padding-left: 5%;
}
.col-l:nth-child(2) h1{
    font-size: 40px;
}
.col-l:nth-child(2) li{
    font-size: 20px;
    padding: 10px 0;
    transition: 0.5s;
}
.col-l:nth-child(2) li:hover {
    transform: translateX(10px);
}
.col-l h1{
    position: relative;
}
.col-l h1::after{
    content: "";
    bottom: 0;
    left: 0px;
    position: absolute;
    height: 5px;
    width: 110px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);

}

/* cursor movement style  */


  .cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #4B4DDE;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99999;
  }
  
  .cursor2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 99999;

  }
  
  .hover {
    background-color: #4B4DDE;
    border:2px solid #ffff;
    opacity: 0.8;
  }
  
  .cursorinnerhover {
    width: 20px;
    height: 20px;
    opacity: 1;
  }


/* responsive layout  */

@media (max-width: 1107px) {

    
    .menu ul{
        width:100%;
        background: #192233;
        position:absolute;
        top:77px;
        right:0;
        z-index:2;
        text-align: center;
    }
    .menu ul{
        display: block;
        padding: 0;
        font-size: 20px;
        max-height: 0px;


    }
    .menu ul li{
        margin-top: 40px;
        margin-bottom: 25px;
        text-align: left;
    }
    .menu ul li a{
        color: white;

    }
    #menulist{
        overflow:hidden;
        transition:1s;
    }
    .menu-icon{
        padding-top: 15px;
        width: 40px;
        display: flex;
    }
    .logo img{
        width: 180px;
    }
    nav{
        padding: 20px 5%;
    }

    /* container  */

    .row-1{
        flex-direction: column;
    }
    .col-1 h1{
        font-size: 40px;
        line-height: 50px;
    }
    .col-1 p{
        font-size: 15px;
    }
    .col-1 button{
        font-size: 15px;
        width: 150px;
        padding: 10px;
    }

    /* why us style  */

    .title h1{
        font-size: 10vw;
    }
    .title p{
        font-size: 15px;
    }

    /* custom style  */

    .row-3{
        flex-direction: column;
    }
    .col-3 h3{
        text-align: center;
        font-size: 10vw;
    }
    .col-3 p{
        font-size: 17px;
        text-align: center;
    }
    .intigration{
        flex-direction: column;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .intigration p{
        padding-bottom: 30px;
    }
    .col-3:nth-child(2) {
        padding-left: 0;
    }

    /* pricing style  */

    .row-4{
        padding: 20px;
    }

    /* profolio style  */

    .row-6{
        flex-direction: column;
    }

    /* mail section  */

    .row-5{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    
    }

    /* footer  */
    .row-l{
        display: flex;
        flex-direction: column;
        background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
        padding: 100px 5%;
        text-align: center;
        justify-content: space-between;
    }
    .col-l:nth-child(3) {
        padding-top: 50px;
    }
    .col-l:nth-child(2) {
        padding-top: 50px;
    }
    
}

