*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    overflow-x:hidden;
    border: none;
    box-sizing: border-box;
}
body{
    background-color: #22324C;
}
::-webkit-scrollbar-track{
    background-color: #22324C;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #4B4DDE;
}

/* navbar section  */

.logo img{
    width: 200px;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.container::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 1200px;
    height: 1200px;
    left: 60%;
    top: -252px;
    border-radius: 50%;
    background: linear-gradient(223.46deg, #6525DC 29.72%, #4B4DDE 86.57%);
}
nav{
    padding: 2%;
    z-index: 11111;
    display: flex;
    justify-content: space-between;
}
.menu ul{
    display: flex;
    margin: auto;
}
.menu ul li{
    margin:auto 20px;
    font-size: 20px;
}

/* main landing page  */

.row-1{
    display: flex;
    margin-top: 5%;
}
.col-1{
    flex-basis: 50%;
}
.col-1:nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}
.col-1 img{
    width: 100%;
}
.col-1 h1{
    font-size: 70px;
    line-height: 90px;
    padding-bottom: 10px;
}
.col-1 p{
    font-size: 20px;
    padding-bottom: 30px;
    max-width: 600px;
}
.col-1 button{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 6px;
    width: 200px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

/* benefit section  */

.title h1{
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
}
.title p{
    text-align: center;
    margin: auto;
    font-size: 20px;
    max-width: 700px;
    padding-bottom: 30px;
}
.benifit{
    padding: 80px 8%;
    height: 100%;
}
.row-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.col-2 img{
    width: 100px;
}
.col-2{
    margin: auto;
    padding: 20px;
    background-color: #192233;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
}
.col-2 h2{
    font-size: 30px;
    padding: 20px 0;
}
.col-2 p{
    font-size: 20px;
    padding: 20px 0;
}

/* custom section  */

.custom{
    padding: 30px 8%;
    height: 100%;
}
.row-3{
    display: flex;
}
.col-3 img{
    width: 100%;
    margin: auto 0;
}
.col-3{
    flex-basis: 50%;
}
.col-3:nth-child(2){
    padding-left: 5%;
}
.col-3 h3{
    font-size: 50px;
    padding-bottom: 10px;
}
.col-3 p{
    font-size: 20px;
    padding: 30px 0;
    max-width: 550px;
    letter-spacing: 1px;
    line-height: 30px;
}

.intigration{
    display: flex;
    margin: auto;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding: 30px ;
}
.intigration p{
    font-size: 20px;
    font-weight: 300;
}
.intigration button{
    padding: 10px;
    width: 150px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 400;
}

/* pricing style  */

.row-4{
    padding: 80px 15%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.col-4{
    background-color: #192233;
    text-align: center;
    padding: 50px 10px;
    border-radius: 5px;
}
.col-4 h1{
    font-size: 30px;
    font-weight: 600;
}
.col-4 h2{
    font-size: 80px;
    font-weight: 600;
    padding: 10px 0;
}
.col-4 ul li{
    font-size: 15px;
    font-weight: 300;
    padding:5px  0;
}
.col-4 button{
    cursor: pointer;
    padding: 15px 10px;
    width: 80%;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}
.col-4 button a{
    text-decoration: none;
}
.main{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
}
.button{
    background: #ffff !important;    
}
.button a{
    color: #6525DC;

}

/* contact us style  */
.mail{
    padding: 40px 10%;

}
.row-5{
    display: flex;
    width: 100%;
    height: 100%;

}
.col-5{
    flex-basis: 50%;
    padding: 0 10px;
}
input, textarea{
    outline: none;
    width: 100%;
    resize: none;
    padding: 20px;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 5px;
    z-index: -1;
    margin-top: 20px;
}
label{
    position: absolute;
    top: 35px;
    left: 20px;
    opacity: 0.4;
    transition: 0.5s;
    padding: 5px;


}
textarea{
    height: 100%;
}
.input{
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}
input:focus+label{
    background-color: #22324C;
    top: 1px;
    opacity: 1;
    z-index: 111;

}
textarea:focus+label{
    background-color: #22324C;
    top: 1px;
    opacity: 1;
    z-index: 111;

}