*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #192233;
    overflow-x:hidden;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    position: relative;
}
::-webkit-scrollbar-track{
    background-color: #22324C;
}
::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-thumb{
    background-color: #4B4DDE;
}
.logo img{
    width: 200px;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
nav{
    padding: 8px 2rem;
    z-index: 11111;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
    justify-content: space-between;
}
.menu{
  display: flex;
  align-items: center;
}
.menu a {
    font-size: 35px;
    display: flex;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}


/* wave background style  */

  .wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .shape {
    width: 700px;
    height: 700px;
    background: linear-gradient(64.00916346799386deg,#6525DC  23.44140625%,rgba(158, 0, 236,1) 79.84765625%);
    animation: wave 4.0s ease-in-out infinite;
  }
  @keyframes wave {
    0%, 100% {
      border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
      border-radius: 77% 80% 54% 46% / 40% 38% 62% 60%;
    }
  }

/* filter style  */


.filter-menu{
    margin-bottom: 20px;
}
.filter-menu li{
    display: inline-block;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 25px;
    background: #ffff;
    color: #6525DC;
    transition: 0.5s;
    cursor: pointer;
}
.filter-menu li:hover,
.filter-menu li.current{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    color: #ffff;

}



.filter-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 10%;
    grid-gap: 20px;
}

.filter-item .sec.active{
    width: 416px;
    padding: 2px;
    transition: all 0.5s ease;
}

.filter-item .sec.delete{
    width: 0;
    display: none;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img{
    display: block;
    width: 100%;
    height: 100%;
}

/* port style  */
.col-6 img{
    width: 100%;
}
.col-6{
    position: relative;
    flex-basis: 50%;
    width: 100%;
}
.scroll{
    width: 76%;
    overflow-y: scroll;
    max-height: 53%;
}
.scroll img{
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}
.scroll {
    position: absolute;
    top: 13%;
    left: 10.5%;
}
.res{
    width: 24%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;

}


/* particals animation  */

.p-1{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 111111;
    animation: p-1 40s infinite 0s ;   
}
@keyframes p-1{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px);
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-2{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 111111;
    animation: p-2 40s infinite 0s ;   
}
@keyframes p-2{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(500px);   
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 2 */

.p-3{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 111111;
    animation: p-3 60s infinite 0s ;   
}
@keyframes p-3{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(-300px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-4{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 111111;
    animation: p-4 10s infinite 0s ;   
}
@keyframes p-4{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(200px);
    }
    50%{
        transform: translateY(400px);   
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* cursor movement style  */


.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #4B4DDE;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99999;
  }
  
  .cursor2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 99999;

  }
  
  .hover {
    background-color: #4B4DDE;
    border:2px solid #ffff;
    opacity: 0.8;
  }
  
  .cursorinnerhover {
    width: 20px;
    height: 20px;
    opacity: 1;
  }

/* message alert box  */

  
  .toast {
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 9999999;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .175);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }

  .toast.active {
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #2770ff;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }
  
  .toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    color: black;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .toast .close:hover {
    opacity: 1;
  }
  
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  
  }
  
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #2770ff;
  }
  
  .progress.active:before {
    animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }
  
  button {
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #2770ff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #2770ff;
  }
  
  .toast.active ~ button {
    pointer-events: none;
  }


  /* footer style  */

.row-l{
  text-align: left;
  border-radius: 10em 0 0 0;
  display: flex;
  background-color: #f4f5ff;
  padding: 90px 5%;
  justify-content: space-between;
}
.col-l{
  flex-basis: 20%;
}
.col-l img{
  width: 70%;
}
.col-l:nth-child(1) p{
  font-size: 15px;
}
.col-l:nth-child(2){
  padding-left: 5%;
}
.col-l h1{
  font-size: 25px;
  padding-bottom: 10px;
}
.col-l  li{
  font-size: 15px;
  padding: 5px 0;
  transition: 0.5s;
}
.links  li:hover {
  transform: translateX(10px);
}
.links  li:hover a {
  color: #8544ff;
}
.col-l h1{
  position: relative;
  margin-bottom: 30px;
}
.col-l h1::after{
  content: "";
  bottom: 0;
  left: 0px;
  position: absolute;
  height: 5px;
  width: 110px;
  background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);

}
.col-l:nth-child(3) p{
  padding: 10px 0;
}
.col-l:nth-child(3) span{
  font-weight: 500;
}  

/* footer icon  */

.icons{
  margin-top: 10px;
}

.icons ul li i:after{
  display: none;
}
.icons ul {
  display: flex;
  flex-wrap: wrap;
}

.icons ul li {
  list-style: none;
}

.icons ul li a {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 25px;
  margin: 0 5px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.icons ul li a .icon {
  color: #262626;
  transition: .5s;
  position: relative;
  z-index: 4;

}

.icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);

}

.icons ul li a:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.icons ul li a:hover:before {
  top: 0;
}

.icons ul li:nth-child(1) a:before{
  background: #23d200;
}

.icons ul li:nth-child(2) a:before{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.icons ul li:nth-child(3) a:before {
  background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
}

.icons ul li:nth-child(4) a:before {
  background: #0088ff;
}

  


/* responsive section  */

@media screen and (min-width: 768px){
    .filter-item li.active,
    .filter-item li{
        width: 33.33%;
    }
    
    h2{
        font-size: 190%;
    }
}
@media screen and (min-width: 1280px){
    .filter-item li.active,
    .filter-item li{
        width: 30%;
    }

    h2{
        font-size: 270%;
    }
}
@media (max-width: 768px){
        .filter-item .sec.active{
      width: 100% !important;
    }
}



@media (max-width: 1107px) {

    
    .menu ul{
        width:100%;
        background: #192233;
        position:absolute;
        top:77px;
        right:0;
        z-index:2;
        text-align: center;
    }
    .menu ul{
        display: block;
        padding: 0;
        font-size: 20px;
        max-height: 0px;


    }
    .menu ul li{
        margin-top: 40px;
        margin-bottom: 25px;
        text-align: left;
    }
    .menu ul li a{
        color: white;

    }
    #menulist{
        overflow:hidden;
        transition:2s;
    }
    .menu-icon{
        padding-top: 15px;
        width: 40px;
        display: flex;
    }
    .logo img{
        width: 180px;
    }
    nav{
        padding: 20px 5%;
    }


    /* filer  */

    .filter-item{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding: 0 4%;

    }

    .shape {
        width: 100%;
        height: 50%;
    }

    /* message  */

    .message .text {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
      }

    .toast{
        padding: 10px 25px 10px 15px;
        top: 17px;
    }

     /* footer  */
     .row-l{
      display: flex;
      flex-direction: column;
      padding: 100px 5%;
      text-align: center;
      justify-content: space-between;
  }
  .col-l h1::after{
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      height: 5px;
      width: 110px;
      background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);

  }
  .col-l:nth-child(3) {
      padding-top: 50px;
  }
  .col-l:nth-child(2) {
      padding-top: 50px;
  }
  .col-l:nth-child(2){
      padding-left: 0%;
  }
  .col-l:nth-child(3) p{
      padding: 10px 0;
  }
  
  /* icon style  */

  .icons ul{
      align-items: center;
      justify-content: center;
  }
  .icons ul li a {
      position: relative;
      width: 50px;
      height: 50px;
      background-color: #fff;
      text-align: center;
      font-size: 30px;
      margin: 0 10px;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #fff;
      z-index: 1;
    }


}

/* loader style  */

#preloader{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 11111111;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55,0.3,0.24,0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}







.title h1{
  margin-top: 10%;
  padding: 0 10%;
  text-align: left;
}
hr{
  border: 1px solid rgba(80, 80, 80, 0.133);
  width: 80%;
  margin: 25px auto;
  
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 10%;
    grid-gap: 20px
}
.col-12{
  text-align: left;
}
#filter-buttons button {
    border-radius: 3px;
    color: #192233;
    font-family: 'Titillium Web', sans-serif;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0)000;
    border-color: transparent;
    position: relative;
  }

  #filter-buttons button::after{
    content: "";
    height: 4px;
    width: 0%;
    display: flex;
    justify-content: center;
    background-color: #4B4DDE;
    position: absolute;
    bottom: 0px;
    left: 18px;
    transition: 1s;
  }

  #filter-buttons button:hover {
    color: #4B4DDE;
  }
  #filter-buttons button:hover::after {
    width: 100%;
  }
  #filter-buttons button.active {
    color: #4B4DDE;
    background: #6c757d00;
  }
  #filterable-cards .card {
    border: 2px solid transparent;
  }
  #filterable-cards .card.hide {
    display: none;
  }
  @media (max-width: 600px) {
    #filterable-cards {
      justify-content: center;
    }
    #filterable-cards .card {
      width: 100% ;
    }
    .row{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 0 5%;
      grid-gap: 20px
  }
  }