*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    overflow-x:hidden;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #22324C;
}
::-webkit-scrollbar-track{
    background-color: #22324C;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #4B4DDE;
}

.logo img{
    width: 200px;
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}
nav{
    padding: 2%;
    z-index: 11111;
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    width: 40px;
    display: none;
}
.menu ul{
    display: flex;
    margin: auto;
    overflow: hidden;
    padding: 30px;
    max-height: 100px;
    transition: 1.5s;
}
.menu ul li{
    margin:auto 20px;
    font-size: 20px;
    transition: 0.5s;
    overflow: visible;
}
.menu ul li:hover{
    transform: translateX(-10px);  
    position: relative;  
}
.menu ul li::before{
    content: "";
    position: absolute;
    height: 4px;
    bottom: -10px;
    left: 0;
    width: 0%;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    transition: 0.5s;
    
}
.menu ul li:hover:before{
    width: 100%;
}

html,body{
    width: 100%;
    height: 100%;
}


ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


.filter-menu{
    margin-bottom: 20px;
}
.filter-menu li{
    display: inline-block;
    padding: 10px 18px;
    margin: 10px;
    border-radius: 5px;
    background: #ffff;
    color: #6525DC;
    cursor: pointer;
}
.filter-menu li:hover,
.filter-menu li.current{
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    color: #ffff;

}



.filter-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 0 15%;
    grid-gap: 20px;
}

.filter-item .sec.active{
    width: 100%;
    padding: 2px;
    transition: all 0.5s ease;
}

.filter-item .sec.delete{
    width: 0%;
    display: none;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img{
    display: block;
    width: 100%;
    height: 100%;
}

/* port style  */
.col-6 img{
    width: 100%;
}
.col-6{
    position: relative;
    flex-basis: 50%;
    width: 100%;
}
.scroll{
    width: 100%;
    overflow-y: scroll;
    max-height: 43%;
}
.scroll img{
    width: 99.4%;
    overflow-y: scroll;
    height: 100%;
}
.scroll {
    position: absolute;
    top: 21%;
    left: 1%;
}
.res{
    width: 30%;
}
.res img{
    position: absolute;
    width: 29%;
    height: 45%;
    z-index: 1;
    bottom: 67px;
    right: 0;
}

/* particals animation  */

.p-1{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 111111;
    animation: p-1 40s infinite 0s ;   
}
@keyframes p-1{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(500px);
    }
    50%{
        transform: translateY(500px);
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-2{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 111111;
    animation: p-2 40s infinite 0s ;   
}
@keyframes p-2{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(500px);
    }
    50%{
        transform: translateX(500px);   
    }
    75%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

/* PARTICLES 2 */

.p-3{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 111111;
    animation: p-3 60s infinite 0s ;   
}
@keyframes p-3{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(-300px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}
.p-4{
    width: 20px;
    height: 20px;
    background: linear-gradient(283.44deg, #6525DC 0.03%, #4B4DDE 72.58%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 111111;
    animation: p-4 10s infinite 0s ;   
}
@keyframes p-4{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(200px);
    }
    50%{
        transform: translateY(400px);   
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}


/* cursor movement style  */


.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #4B4DDE;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99999;
  }
  
  .cursor2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 99999;

  }
  
  .hover {
    background-color: #4B4DDE;
    border:2px solid #ffff;
    opacity: 0.8;
  }
  
  .cursorinnerhover {
    width: 20px;
    height: 20px;
    opacity: 1;
  }


/* responsive section  */

@media screen and (min-width: 768px){
    .filter-item li.active,
    .filter-item li{
        width: 33.33%;
    }

    h2{
        font-size: 190%;
    }
}
@media screen and (min-width: 1280px){
    .filter-item li.active,
    .filter-item li{
        width: 30%;
    }

    h2{
        font-size: 270%;
    }
}
@media (max-width: 1107px) {

    
    .menu ul{
        width:100%;
        background: #192233;
        position:absolute;
        top:77px;
        right:0;
        z-index:2;
        text-align: center;
    }
    .menu ul{
        display: block;
        padding: 0;
        font-size: 20px;
        max-height: 0px;


    }
    .menu ul li{
        margin-top: 40px;
        margin-bottom: 25px;
        text-align: left;
    }
    .menu ul li a{
        color: white;

    }
    #menulist{
        overflow:hidden;
        transition:2s;
    }
    .menu-icon{
        padding-top: 15px;
        width: 40px;
        display: flex;
    }
    .logo img{
        width: 180px;
    }
    nav{
        padding: 20px 5%;
    }


    /* filer  */

    .filter-item{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding: 0 4%;

    }

}

/* loader style  */

#preloader{
    background: #0e111f url(img/PER.gif) no-repeat center center;
    background-size: -50%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 111111111;
}
